[submodule "googletest"]
	path = src/third_party/googletest
	url = https://github.com/google/googletest.git
	shallow = true
[submodule "llvm"]
	path = src/third_party/llvm
	url = https://github.com/llvm/llvm-project.git
	shallow = true
[submodule "src/third_party/utf8proc"]
	path = src/third_party/utf8proc
	url = https://github.com/JuliaStrings/utf8proc.git
	shallow = true
