[submodule "googletest"]
	path = src/third_party/googletest
	url = https://github.com/google/googletest.git
	shallow = true
[submodule "llvm"]
	path = src/third_party/llvm
	url = https://github.com/llvm/llvm-project.git
	shallow = true
[submodule "src/third_party/utf8proc"]
	path = src/third_party/utf8proc
	url = https://github.com/JuliaStrings/utf8proc.git
	shallow = true
[submodule "cli11"]
	path = src/third_party/cli11
	url = https://github.com/CLIUtils/CLI11.git
	shallow = true
[submodule "src/third_party/spdlog"]
	path = src/third_party/spdlog
	url = https://github.com/gabime/spdlog.git
	shallow = true
[submodule "src/third_party/libffi"]
	path = src/third_party/libffi
	url = https://github.com/libffi/libffi.git
	shallow = true
